
*.pyc
*.db
*~
.*
*.py.bak


/site/
/htmlcov/
/coverage/
/build/
/dist/
/*.egg-info/
/env/
/venv/
/WorkOrganizer/db.sqlite3/
/WorkOrganizer/venv
/WorkOrganizer/db.sqlite3
db.sqlite3
MANIFEST
coverage.*

!.github
!.gitignore
!.pre-commit-config.yaml
